body{
  background: rgba(0,0,0,0.7);
  margin:0px;
  padding:0px;
}
.closeInner{
  position:absolute;
  top:10px;
  right:10px;
  color:white;
}
.close{
  position:absolute;
  right:10px;
  top:10px;
  color:white;
}
.menu-list{
  margin:0px;
  width:20em;
  height:40em;
  background:black;
  list-style:none;
  display:flex;
  flex-direction: column;
  justify-content:space-around;
}

.menu-list li a {
  display:inline-block;
  border: 1px solid rgba(255,255,255,0.5);
  padding: 10px 20px 5px 10px;
  text-decoration:none;
  color:#fff;
  letter-spacing:1px;
  width:200px;
  height:40px;
  transition: background-color .5s,  border 1s;
  text-align:center;

}
.menu-list li a:hover{
  background-color:rgba(0,0,0,0.7);
  border-color:#fff;
  border-left-width:15px;
}


/*Visible condition*/
.menu-list{
  position:relative;
  transition: .5s;
  transform:translate(0%);
  top:0px;
}
.hide{
  position:relative;
  transform:translate(-100%);
  top:0px;
}
